$asideWidth: 220px;
$mobileAsideHeight: 100px; /* 모바일에서 사이드바 높이 */

main {
  .aside {
    width: $asideWidth;
    height: 100vh;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid;
    background-color: #052563;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:9999;

    
    & > * {
      border: 1px solid white;
      width: 100%;
    }

    .top {
      flex-grow: 1;
    }

    .main {
      flex-grow: 2;
    }

    .bottom {
      flex-grow: 1;
    }
  }

  .main-section {
    width: calc(100vw - $asideWidth);
    height: 100vh;
    background-color: red;
    position: relative;
    left: $asideWidth;

    .controller {
      position: absolute;
      top: 10px;
      left: 100px;
      width: 500px;
      height: 50px;
      z-index: 9999;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }




  /* 
    모바일 (최대 너비 768px 이하) 
  */
  @media screen and (max-width: 768px) {
    .aside {
      width: 100%;
      height: $mobileAsideHeight;
      bottom: 0;
      left: 0;
      top: auto; /* 사이드바를 하단에 고정 */
      padding: 5px;
      flex-direction: row; /* 내부 요소 가로 배열 */
      justify-content: space-around;
      border: 1px solid;
        
    }

    .top,
    .main,
    .bottom {
      flex-grow: 1;
      border: none;
      text-align: center;
    }

    .main-section {
      width: 100vw;
      height: calc(100vh - $mobileAsideHeight); /* 사이드바 높이 제외한 나머지 부분 */
      left: 0;

      .controller {
        top: auto;
        bottom: 10px; /* 사이드바 위에 컨트롤러 위치 */
        left: 0px;
        right:auto;
        width:80%;
        border-radius: 20px;
        height: 40px;
        left: 50%;
        transform: translateX(-50%); /* 가로 중앙 정렬 */
      }
    }
  }
}
