.flooding-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }

  .flooding-popup{
    min-width:1200px;
    width:90vw;
    height : 90vh;
    background-color: white;
    padding : 10px;
    position:relative;
    overflow : auto;


    .flooding-items{
        margin-top:20px;
        display: grid;
        grid-template-columns: repeat(2, 2fr); /* 두 개의 열 */
        grid-template-rows: repeat(2, 21fr);   /* 두 개의 행 */
        gap: 5px; /* 셀 간의 간격 */
        width : 100%;
        height : 100%;

        .grid-item{
  
          border : 1px solid;
          height : 95%;
          width:100%;
         
          .title{
            background-color: #ccc;
            padding-left:10px;
          }
            .img{
              width:100vw;
              height : 100vh;;
            }
        }

        .grid-item:nth-child(1){
          position:relative;
          overflow:hidden;

          // height : 640px;
          .video{
            background-color: black;
            position:relative;
            height :100%;
            width : 100%;
            
            img{
              width:100%;
              height : 100%;
              object-fit: fill;
            }
          }
        }

    }


  }
  .flooding-popup::-webkit-scrollbar{
    display:none;
  }

  

  