/* Home.scss */

.mainSection {
  display: flex;
  flex-direction: row;

  /* Desktop-specific layout */
  #map {
    width: calc(100vw - 220px);
    height: 100vh;
    position: absolute;
    left: 220px;
  }

  .info-container {
    padding: 10px;
  }
}

/* Mobile Styles */
@media (max-width: 480px) {
  .mainSection {
    flex-direction: column;
  }

  #map {
    left:0 !important;
    top:70px !important;
    width: 100% !important;
    height: calc(100vh - 80px - 70px) !important; /* Adjust map height for mobile */
    position: relative;
  }

  .info-container {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
  }
}
