/* Home.scss */

.mainSection {
  display: flex;
  flex-direction: row;

  /* Desktop-specific layout */
  #map {
    width: calc(100vw - 220px);
    height: 100vh;
    position: absolute;
    left: 220px;
  }

  .info-container {
    padding: 10px;
  }
}



/* 클러스터링 아이콘 공통 스타일 */
.custom-cluster-icon {
 
  color: white;

  text-align: center;
  transition: transform 0.3s ease;
  font-size : 1.2rem;
  width : 100%;
  height : 100%;
  font-weight:300;
  
}

.marker-cluster-icon-small {
  width: 40px;
  height: 40px;
  background-color: rgba(144, 43, 34, 0.7); /* CCTV1 기본 색상 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.marker-cluster-icon-medium {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: rgba(144, 43, 34, 0.7); /* CCTV1 기본 색상 */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.marker-cluster-icon-large {
  width: 60px;
  height: 60px;
  background-color: rgba(144, 43, 34, 0.7); /* CCTV1 기본 색상 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* CCTV2 클러스터의 배경색 */
.marker-cluster-icon-cctv2 {
  background-color: rgba(65, 105, 225, 0.7); /* CCTV2 색상 */
}

.leaflet-control-zoom.leaflet-bar.leaflet-control{
  display:none;
}